<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>FZ</strong> by <a href="https://jgthms.com">@FahimPortfolio</a>. The source code is licensed
   
      </p>
    </div>
  </footer>