<title>JobHunts</title>
<link rel="icon" href="https://image.flaticon.com/icons/png/512/1647/1647525.png" type="image/gif" sizes="16x16">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"/>