<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://image.flaticon.com/icons/png/512/1647/1647525.png" width="30" height="30">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
  

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
              Log in
            </a>
            <a class="button" href="/employeers/signup">
                For Employeers
              </a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            Find Jobs
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/browsejob">
                Search Jobs
              </a>
              <a class="navbar-item">
               Advanced Search Jobs
              </a>
            </div>
          </div>
          <div class="navbar-start">
            <a class="navbar-item">
              Upload Files
            </a>
          </div>
          <div class="navbar-start">
            <a class="navbar-item">
              Salary Tools
            </a>
          </div>
          <div class="navbar-start">
            <a class="navbar-item">
              Resume Help
            </a>
          </div>    <div class="navbar-start">
            <a class="navbar-item">
              Career Advice
            </a>
          </div>
      
      
    </div>
  </nav>
