
<figure class="image is-3by1" style="position: relative;">
   
        <img src="https://images.unsplash.com/photo-1573495804658-7885a640fc1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="wallpaper One"  style=" object-fit: cover;opacity: 0.4;" >
 
    <h1 class="title is-2" style="position:absolute;top:20%;left:50%;transform: translate(-50%,-50%);color:black;">Search For Better - Find Jobs On JobHunts</h1>
  
    <h1 class="subtitle is-3" style="position:absolute;top:35%;left:50%;transform: translate(-50%,-50%);color:black;">Find local US jobs in your area</h1>
    <div class="columns" style="position: absolute;top:70%;left:50%;transform: translate(-50%,-50%);">
        <div class="column">
   
        <p style="text-align: center; font-weight: 600;">
            If you're ready for a new challenging job,
            Browse Jobs on JobHunts and take a look at our
             Popular Job Locations and Job Titles. 
             You can also take a look at Company Profiles
              or different types of careers.
               Find your perfect career fit for today. 
               Whatever type of job you're looking for, 
               you can find it on Monster.
        </p>	    
    </div>
   
    </div>
    
  </figure>