<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>

  <%- include('partials/nav.ejs') %>
  <%- include('partials/wallpaperTwo.ejs') %>
  <div class="container">
    <h1 class="title" style="text-align: center;">Browse Jobs</h1>
    <div class="columns">
      <div class="column">
        <div class="card" >
          <p class="subtitle">Jobs By Location</p>
          <a>Barisal jobs</a>
          <br>
          <a>Chittagong jobs</a>
          <br>
          <a>Dhaka jobs</a>
          <br>
          <a>Khulna jobs</a>
          <br>
          <a>Mymensingh jobs</a>
          <br>
          <a>Sylhet jobs</a>
          <br>
          <a>Rangpur jobs</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <p class="subtitle">
            Jobs By Category
          </p>
          <a href="/browsejobs/category">Administrative jobs</a>
          <br>
          <a href="/browsejobs/category">Bussiness Operations jobs</a>
          <br>
          <a href="/browsejobs/category">Computer jobs</a>
          <br>
          <a href="/browsejobs/category">Education jobs</a>
          <br>
          <a href="/browsejobs/category">Entertainment jobs</a>
          <br>
          <a href="/browsejobs/category">Finance jobs</a>
          <br>
          <a href="/browsejobs/category">Healthcare jobs</a>
        </div>
      </div>
    </div>

  </div>

  <%- include('partials/footer.ejs') %>
</body>
</html>

