<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>

  <%- include('partials/nav.ejs') %>
<div class="container">
    <h1 class="title is-4">Database Developer Jobs
        (27909 Jobs)</h1>
    <div class="columns is-gapless is-mobile">
<div class="column is-one-quarter">
    <div class="card">
        <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6">job title</p>
                <p class="subtitle is-7">Company name</p>
                <p class="subtitle is-7">Company address</p>
              </div>
              <time class="subtitle is-7" datetime="2016-1-1">1 Jan 2016</time>
            </div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">job title</p>
            <p class="subtitle is-7">Company name</p>
            <p class="subtitle is-7">Company address</p>
          </div>
          <time class="subtitle is-7" datetime="2016-1-1">1 Jan 2016</time>
        </div>
</div>
</div>
<div class="card">
    <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">job title</p>
            <p class="subtitle is-7">Company name</p>
            <p class="subtitle is-7">Company address</p>
          </div>
          <time class="subtitle is-7" datetime="2016-1-1">1 Jan 2016</time>
        </div>
</div>
</div>

</div>
<div class="column">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <figure class="image is-3by1">
                    <img src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Placeholder image">
                    </figure>
                </div>
                    <div class="media-content">
                        <p class="title is-6">job title</p>
                        <p class="subtitle is-7">Company name</p>
                        <p class="subtitle is-7">Company address</p>
                        
                      </div>
      
    </div>
    
    </div>
        </div>
</div>
</div>

  <%- include('partials/footer.ejs') %>
</body>
</html>

